<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CbsConnection" connectionString="Data Source=.\SQLEXPRESS2014;AttachDbFileName=C:\CbsDatabase.mdf;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="CBSSqlRepositories" />
    <!--<typeAliases>
          <typeAlias alias="ReservationRepository" type="CBSSqlRepositories.Repositories.Implementations.ReservationRepository, CBSSqlRepositories"/>
          <typeAlias alias="perresolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity"/>
      </typeAliases>-->
    <!--<containers>
          <container>
              <register mapTo="ReservationRepository" name="ReservationRepository1" type="CBS.DAL.Repositories.IExternalReservationRepository, CBS">
                  <lifetime type="perresolve"/>
              </register>
              -->
    <!--<register mapTo="SettingRepository, CBSSqlRepositories.Repositories.Implementations" name="SettingRepository" type="CBS.DAL.Repositories.IExternalSettingRepository, CBS">
                  <lifetime type="perresolve"/>
              </register>-->
    <!--
          </container>
      </containers>-->
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>